body{
  background: #adacac;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

*:focus {outline:0;}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.note{
  font-size: 15px;
  color: greenyellow;
}

.input-wrapper{
  padding-top: 40vh;
  top: 0;
  width: 95%;
  max-width: 600px;
  position: fixed;
  background: #adacac;
  left: 2.5%;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 32px;
  color: #000;
  line-height: 1.5;
  width: 100%;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: calc(40vh + 100px);
  padding-bottom: 100px;
}

ul a, a{
  color: #000;
  text-decoration: none;
  line-height: 1.5;
}

ul a:hover{
  border-bottom: 2px solid black;
}

.overlay{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  background: linear-gradient(0deg, rgba(173,172,172,1) 0%, rgba(173,172,172,0) 100%);
}

.input-wrapper2 a{
  width: 100%;
  display: block;
  text-align: right;
}

.input-wrapper2 ul{
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
}

.relative{
  position: relative;
}

#condition{
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 0px;
}

#condition:after{
  content: "";
  position: fixed;
  top: 310px;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(173,172,172,1) 20%, rgba(173,172,172,0) 100%);
}